<!--สร้างอันนี้อันที่3--->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="margin-left: 50px">
    <h1>Classic Model Online</h1> <hr>
    <h3><a href="/offices/all"> List All Office </a> </h3>
    <h3><a href="/offices/create"> Create New Office </a> </h3>
    <p>---------------------</p>
    <h3><a href="/products/page"> Product List (Paging) </a> </h3>
    <h3><a href="/products/"> Product List (All) </a> </h3>
    <p>---------------------</p>
    <h3><a href="/theme"> Theme </a> </h3>
    <h3>Other Links</h3>
</body>
</html>