<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Your Theme</title>
</head>
<body style="margin-left: 60px">
<form method="post" action="/theme">
    <label style="background-color: silver"> Silver </label>
    <input type="radio" name="theme" value="silver"/><br>
    <label style="background-color: cadetblue; color: yellow"> Cadetblue </label>
    <input type="radio" name="theme" value="cadetblue"/><br>
    <label style="background-color: whitesmoke"> White Smoke" </label>
    <input type="radio" name="theme" value="whitesmoke"/><br>
    </p>
    <p>
        <input type="radio" name="theme" value="default"/><br>
        <label> Default </label>
    </p>

</form>

</body>
</html>