<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Your Theme</title>
</head>
<body style="margin-left: 60px;">
<form method="post" action="/theme">
    <div class="form-check">
        <label style="background-color: silver">Silver</label>
        <input type="radio" name="theme" value="silver"/><br>
    </div>
    <div class="form-check">
        <label style="background-color: cadetblue; color: yellow">Cadet Blue</label>
        <input type="radio" name="theme" value="cadetblue"/><br>
    </div>
    <div class="form-check">
        <label style="background-color: whitesmoke">White Smoke</label>
        <input type="radio" name="theme" value="whitesmoke"/><br>
    </div>
    <div class="form-check">
        <label>Default</label>
        <input type="radio" name="theme" value="default"/><br>
    </div>
    <input type="submit">
</form>
</body>

</body>
</html>